<div class="radio-container">

    <label class="radio-label ">
        <input type="radio" name="option" [(ngModel)]="selectedOption" [value]="value" (change)="onSelectionChange()" />
        <span class="radio-button"></span>
        <div class="content d-flex justify-content-center align-items-center flex-column mt-4 p-4">
            <img [src]="srcImage" alt="">
            <p class="mt-3"> {{title}} </p>
        </div>
    </label>

    <label class="radio-label ">
        <input type="radio" name="option" [(ngModel)]="selectedOption" [value]="secValue"
            (change)="onSelectionChange()" />
        <span class="radio-button"></span>
        <div class="content d-flex justify-content-center align-items-center flex-column mt-4 p-4">
            <img [src]="secSrcImage" alt="">
            <p class="mt-3"> {{secTitle}} </p>
        </div>
    </label>

    <label class="radio-label ">
        <input type="radio" name="option" [(ngModel)]="selectedOption" [value]="thirdValue" (change)="onSelectionChange()" />
        <span class="radio-button"></span>
        <div class="content d-flex justify-content-center align-items-center flex-column mt-4 p-4">
            <img [src]="thirdSrcImage" alt="">
            <p class="mt-3"> {{thirdTitle}} </p>
        </div>
    </label>

</div>
<div class="">
    <!-- wnat to binding at routerlink -->
    <button [routerLink]="[routes]" routerLinkActive="router-link-active"   [disabled]="!isSelected"
        class="btn btn-primary d-block me-auto"> 
        <img [src]="btnIcon" alt="">
        <span class="mx-2"> {{btnValue}} </span>
    </button>
</div>