section {
    direction: rtl;

    .btn:hover {
        path {
            fill: red;
        }
    }

    button {
        width: Fixed (198px)px;
        height: Fixed (34px)px;
        top: 600px;
        left: 36px;
        padding: 8px 24px 8px 24px;
        gap: 8px;
        border-radius: 4px 0px 0px 0px;

    }
}