section {
    direction: rtl;

    .rightSection{
        height: 100vh;
        // padding: 50px;
        height: 100vh;
        background-image: url('../../../../assets/images/Rectangle.svg');
        background-position: bottom;
        background-size: cover;
        background-repeat: no-repeat;
    }

}