<section>
    <div class="contanier">
        <div class="row">
            <div class="col-md-6">
                <div class="rightSection pt-5 px-5">
                    <div>
                        <span>
                            <img src="./assets/images/horn.svg" alt="">
                        </span>
                        <span class="h6 mx-2">تهيئة الحملات الإعلانية</span>
                    </div>

                    <div class="mt-5 pt-5">
                        <h3>مرحبًا بك في منصة أختيار عقارات سكنية للتعمير</h3>
                        <p class="text-muted">قم بإضافة عملائك الحاليين إلي نظامك الجديد لتبدأ التجربة""قم بإضافة عملائك
                            الحاليين
                            إلي نظامك الجديد لتبدأ التجربة"</p>
                    </div>

                    <div>
                        <div class="d-flex ">
                            <img src="./assets/images/tick right.svg" alt="">
                            <h5 class="m-3 h6 text-muted">قم بتحميل شعارك وتفاصيل علامتك التجارية</h5>
                        </div>
                        <div class="d-flex ">
                            <img src="./assets/images/tick right.svg" alt="">
                            <h5 class="m-3 h6 text-muted"> اختر وخصص الحقول التي تحتاجها</h5>
                        </div>
                        <div class="d-flex ">
                            <img src="./assets/images/tick right.svg" alt="">
                            <h5 class="m-3 h6 text-muted"> اختر موضوعاً وصمم مظهر استمارتك</h5>
                        </div>
                        <div class="d-flex ">
                            <img src="./assets/images/tick right.svg" alt="">
                            <h5 class="m-3 h6 text-muted">ضبط رسالة شكر وإجراءات المتابعة</h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <app-side-menu/>
            </div>
        </div>
    </div>
</section>